/* Playfair Display - Weights: 400 to 900 (Regular to Bold), supports italic styles. */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Barlow Semi Condensed - Weights: 100 (Thin) to 900 (Black), supports regular and italic styles. */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Permanent Marker - Single weight (Regular) */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle-backdrop {
  height: 1000px;
  width: 1000px;
}

@media (max-width: 1024px) {
  .circle-backdrop {
    height: 800px;
    width: 800px;
  }
}

@media (max-width: 640px) {
  .circle-backdrop {
    height: 700px;
    width: 700px;
  }
}